.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3E3E3E #292929;
}


.custom-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
    background-color: #292929;
    border-radius: 1px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3E3E3E;
    border-radius: 1px;
}


.custom-scrollbar::-webkit-scrollbar-corner {
    display: none; /* to bright */
}






.custom-scrollbar--smaller::-webkit-scrollbar-track-piece {

}

.custom-scrollbar--smaller::-webkit-scrollbar-button:start:increment {
    height: calc(var(--vertical-spacing) + 43px); /* 43px is a size of warrior__heading */
    display: block;
    background: transparent;
}

.custom-scrollbar--smaller::-webkit-scrollbar-button:end:increment {
    height: var(--vertical-spacing);
    display: block;
    background: transparent;
}
