.page {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
    .page__player {
        height: 100%;
        flex-grow: 1;
    }

    .page__handler-for-player-two {
        width: var(--sidebar-width);
        height: 100%;
    }
