.player {
    display: flex;
    align-items: stretch;
    height: 100%;
}
    .player__sidebar {
        flex-shrink: 0;
        overflow-y: auto;
        width: var(--sidebar-width);
        background-color: #1C1C1C;
    }
        .player__sidebar .show-player {
            display: none;
        }

    .player__list {
        overflow-y: scroll;
        flex-grow: 1;
        flex-basis: 0;
        padding: 35px 40px;
    }


.player--hidden {

}
    .player--hidden .sidebar {
        display: none;
    }
    .player--hidden .show-player {
        display: block;
    }

    .player--hidden .player__list {
        display: none;
    }



.player--one {
    flex-direction: row;
}

.player--two {
    flex-direction: row-reverse;
}
