.player {
    display: flex;
    align-items: stretch;
    height: 100%;
}
    .player__sidebar {
        flex-shrink: 0;
        overflow-y: auto;
        padding-top: 32px;
        padding-bottom: 32px;
        width: var(--column-width);
        background-color: #1C1C1C;
    }

    .player__list {
        overflow-y: scroll;
        flex-grow: 1;
        flex-basis: 0;
        padding: 35px 40px;
    }



.player--one {
    flex-direction: row;
}

.player--two {
    flex-direction: row-reverse;
}
