.warrior {

}
    .warrior__name {
        margin-top: 0;
        margin-bottom: 34px;
        padding-top: 9px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 1px solid #292929;
    }

    .warrior__moves {

    }
